<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.1, Version=13.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\config.mdb;Persist Security Info=True" />-->
    <add name="ApplicationServices" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Database2.mdb;Persist Security Info=True" />   
    <add name="DMDZServices" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\XHDMDZ.mdb;Persist Security Info=True" />
    <add name="VillagePic" connectionString="/VillagePic"/>
    <add name ="DMDZServer" connectionString="http://112.91.101.234:9900/arcgis/rest/services/xinhuidimingdizhifuwu/MapServer/0"/>
    <!--http://112.91.101.234:9900/arcgis/rest/services/jiangmenshidimingdizhishuju/MapServer/0-->
    <!--http://19.120.104.200:9900/arcgis/rest/services/xinhuidimingdizhishuju/MapServer/0-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>



      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1048576" executionTimeout="36000" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="LoginCookieName" loginUrl="Admin/LoginFrm.aspx" />
    </authentication>
    <httpModules>
    
    </httpModules>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <!--允许指定admin角色用户可访问-->
        <deny users="*" />
        <!-- 禁止所有非指定访问用户的访问-->
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
  </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
</configuration>